<!--테일윈드 불러오기-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css">
<!--폰트어썸 불러오기-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="../css/clientlist.css">
   <link rel="stylesheet" href="../css/sb-admin-2.min.css">
    <link rel="stylesheet" href="../css/dlatl.css">
    <link rel="stylesheet" href="../css/bootstrap4-toggle.min.css">
<div class="all-box p-10">

  <!--top-bar 시작-->
  <div class="section-1 Top-bar-box flex">
    <div class="enter-text-box bg-white padding-14 max-wid-160 flex justify-center">
      <div class="img-box flex items-center enter-icon">
        <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/member.png" alt="">
      </div>
      <div class="enter-text font-size-21 font-bold c-0490ff">
        <span>
          회원목록
        </span>
      </div>
    </div>
    <div class="enter-tap-bar hei-45 font-bold text-white flex self-end flex-1">
      <div class="flex items-center w-full">
        <div class="flex justify-center flex-1">아이디</div>
        <div class="flex justify-center flex-1">비밀번호</div>
        <div class="flex justify-center flex-1">생년월일</div>
        <div class="flex justify-center flex-1">성별</div>
        <div class="flex justify-center flex-1">가입날짜</div>
      </div>
    </div>
  </div>
  <!--top-bar 끝-->

  <!--회원 목록 시작-->
  <div class="section-2 all-element-box bg-white overflow-hidden text-base">

    <!--1-->
    <div class="member-list member-list-1 flex">
      <div class="list-text list-text-1 text-base c-69B1EB font-bold flex justify-center">
        <span>
          01
        </span>
      </div>
      <div class="list-text list-text-2 text-base c-696969 flex flex-1 justify-center">
        <span>
          facere
        </span>
      </div>
      <div class="list-text list-text-3 text-base c-8D8D8D flex flex-1 justify-center">
        <span>
          242424
        </span>
      </div>
      <div class="list-text list-text-4 text-base c-696969 flex flex-1 justify-center">
        <span>
         1998.01.08
        </span>
      </div>
      <div class="list-text list-text-5 text-base c-696969 flex flex-1 justify-center">
        <span>
          여성
        </span>
      </div>
      <div class="list-text list-text-6 text-base c-A0A0A0 flex flex-1 justify-center">
        <span>
          2021.09.27 15 : 00 : 21
        </span>
      </div>
    </div>
    <!--2-->
    {{#each contents}}
    <div class="member-list member-list-1 flex">
      <div class="list-text list-text-1 text-base c-69B1EB font-bold flex justify-center">
        <span>
          02
        </span>
      </div>
      <div class="list-text list-text-2 text-base c-696969 flex flex-1 justify-center">
        <span>
          {{this.Useage}}
        </span>
      </div>
      <div class="list-text list-text-3 text-base c-8D8D8D flex flex-1 justify-center">
        <span>
          {{this.Month}}
        </span>
      </div>
      <div class="list-text list-text-4 text-base c-696969 flex flex-1 justify-center">
        <span>
         {{this.Day}}
        </span>
      </div>
      <div class="list-text list-text-5 text-base c-696969 flex flex-1 justify-center">
        <span>
          여성
        </span>
      </div>
      <div class="list-text list-text-6 text-base c-A0A0A0 flex flex-1 justify-center">
        <span>
          2021.09.27 15 : 00 : 21
        </span>
      </div>
    </div>
    {{/each}}

  </div>
  <!--회원 목록 끝-->

  <!--하단 버튼 시작-->
  <div class="section-3 h-11 mt-5 flex justify-center items-center">
    <div class="page-mave-btn-box h-full flex b-1-eaeaea">
      <!--왼쪽 이동-->
      <div class="mave-btn left-btn flex h-full bg-white br-1-eaeaea">
        <div class="img-box left-icon flex items-center p-3">
          <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/left.png" alt="">
        </div>
      </div>
{{#each count}}
      <form method="post">
      
      <div class="mave-btn 1-pag-btn h-full flex self-center bg-white br-1-eaeaea" onclick='test({{this}})'>
        <div class="page-text 1-page-text text-sm font-bold flex items-center p-3">
          <span id="li{{this}}">
            {{this}}
          </span>
        </div>
      </div>
      
      </form>
      {{/each}}
      

      <!--오른쪽-->
      <div class="right-btn h-full flex self-center">
        <div class="img-box right-icon flex items-center p-3 bg-white">
          <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/right.png" alt="">
        </div>
      </div>

    </div>
  </div>
  <!--하단 버튼 끝-->

</div>
<script launguage='javascript'>
        
        for(var i = 1; i< 100; i++)
        {
            function test(i){
                location.href="/clientlist/"+i;
            }
        }
    </script>