   <link rel="stylesheet" href="css/notice.css">
   
    <!--요소 시작-->
    <div class="Body-Text-Box">

      <!--글-->
      <!--공지사항-->
      <div>
        <span>
          공지사항
        </span>
      </div>
      <!--제목, 날짜-->
      <div>
        <div>
          <!--1-->
          <div class="Title-Text">
            <span>
              제목이 들어갈 자리 입니다.
            </span>
          </div>
          <!--2-->
          <div class="Data-Text">
            <span>
              작성일
            </span>
            <span>
              2021.12.03
            </span>
            <span>
              마지막 수정일
            </span>
            <span>
              2021.12.03
            </span>
          </div>
        </div>
      </div>
      <!--글-->
      <div>
        <div>
          <span>
            Lorem ipsum dolor,
            <br>
            sit amet consectetur adipisicing elit.
            <br>
            Perferendis facilis architecto inventore quisquam, tenetur tempore nam eos harum, repellat dignissimos, alias repellendus! Enim ratione nam pariatur, iure laudantium corrupti facere!
            Eveniet odit commodi excepturi molestias accusantium cum. Aliquid sit incidunt nisi sapiente veniam repellendus excepturi provident id corrupti ex ducimus, ullam reiciendis soluta eum, laudantium laborum aspernatur explicabo optio dignissimos.
            Repellat illum corporis iusto! Expedita nulla autem ipsam, aliquam facere voluptatum reprehenderit dolore repellat provident maiores natus tenetur! Suscipit, a rem veritatis hic quos ex? Vel illum cum eos voluptatibus.
            Placeat ex atque laboriosam omnis quis at enim architecto dolores reprehenderit distinctio! Nesciunt, maxime atque odit et omnis quasi reiciendis distinctio deleniti totam, molestiae fugiat maiores odio. Esse, nemo quis.
            Itaque nesciunt, nemo repudiandae inventore deserunt quam natus eum veniam reiciendis in earum sequi aliquam blanditiis id hic suscipit, similique cumque neque quia optio nobis necessitatibus pariatur maxime esse. Reiciendis.
          </span>
          <div class="">
            <img src="https://i.postimg.cc/9MbypkGq/Kakao-Talk-20211015-115032591-02.png" alt="">
          </div>
        </div>
      </div>
      <!--사이 여백-->
      <div></div>
      <!--댓글-->
        <!--사용자 댓글-->
       {{#each commentarray}}
        <div>
          <div class="Use-Comment">
            <div>
              <span>

                {{this.name}}
              </span>
            </div>
            <div>
              <span>

               {{this.Date}}
              </span>
            </div>
            <div>
              <span>

                {{this.text}}
              </span>
            </div>
          </div>
        </div>
       {{/each}}
        <!--관리자 댓글-->
    
        <div>
          <div class="Manager-Comment">
            <div>
              <div>
                <span>
                  관리자
                  <!--{{this.name}}-->
                </span>
              </div>
              <div>
                <span>
                  2021.09.27 15 : 00
                  <!--{{this.Date}}-->
                </span>
              </div>
              <div>
                <span>
                  공지 오늘 올라왔습니다.
                  <!--{{this.text}}-->
                </span>
              </div>
            </div>
          </div>
          <div class="Del-Btn-Box">
            <input type="submit" value="삭제" onclick='this.form.action= "/deleteimage"'>
          </div>
        </div>
    
        <!--여백-->
        <div></div>
        <!--댓글 작성칸-->
        <form class="Form-Box Comment-Box" method="post" action="/addcomment">
        <div>
          <div>
            <label></label>
            <input class="Comment-input" type="text" name="commentText" value="">
            <div class="Comment-input-Btn-Box">
              <input class="Comment-input-Btn" type="submit" value="입력완료">
            </div>
          </div>
        </div>
      </form>
    </div>
