<!--테일윈드-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css">
<!--폰트어썸-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="css/smartmirrormanage.css">

<!--요소 시작-->
<div class="Ele-All-Box flex">
  <div class="Img-All-Box w-full h-full flex-1">
    <!--1-->
    <div class="hei-7-p flex">
      <div class="w-24 bg-637484 flex justify-center items-center text-white font-bold text-sm">Image</div>
      <div class="bg-6F8294 flex-1"></div>
    </div>
    <!--2-->
    <div class="Sel-And-Btn-Box c-047525B" style="height: 10%;">
      <div class="w-full h-full">
        <div class="Form-Area-Box-1 h-full w-full bg-white flex items-center">
          <div class="w-full">
            <div class="ml-8 text-xs font-bold">Select</div>
            <div class="flex">
              <div class="flex flex-1">
                <div class="text-sm c-8F8F8F ml-9 mr-1 whitespace-nowrap">
                  <span>스마트미러 선택 : </span>
                </div>
                <div class="flex flex-1 mr-2">
                  <form method="post" class="Img-Url-Box w-full flex text-sm c-8F8F8F border-1-C4C4C4">
                    <select name="setSmartmirror" class="w-full flex h-5 text-xs cursor-pointer">
                      <option selected hidden>{{selectSmartmirror}}</option>
                      {{#each comboVideo}}
                        <option value="{{this}}">{{this}}</option>
                      {{/each}}
                    </select>
                    <input class="Flie-Del-Btn bg-3AAFE2 flex justify-center items-center text-white text-xs ml-2 cursor-pointer border-radius-50" type="submit" value="확인" name="submit" onclick='this.form.action ="/smartmirrormanage"' />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--3-->
    <div class="Img-Pre-Vi-Box bg-white">
      <div class="Img-Pre-V hei-61 flex items-center c-047525B ml-10">[ Preview ]</div>
      <div class="Img-Setn">
        <div class="img-box Image h-full flex justify-center items-center">
          <img src="/smartmirror/image/{{selectImage}}" alt="">
        </div>
      </div>
      <div class="h-10"></div>
    </div>
  </div>

  <!--영상-->
  <div class="Vid-All-Box w-full h-full flex-1">
    <!--1-->
    <div class="hei-7-p flex">
      <div class="w-24 bg-637484 flex justify-center items-center text-white font-bold text-sm">Vidio</div>
      <div class="bg-6F8294 flex-1"></div>
    </div>
    <!--2-->
    <div class="Sel-And-Btn-Box c-047525B" style="height: 10%;">
      <div class="w-full h-full">
        <div class="Form-Area-Box-1 h-full w-full bg-white flex items-center">
          <form class="Form-Area-Box-2 w-full flex items-center" action="/processSmartmirror" method="post" enctype="multipart/form-data">
            <!--B2-->
            <div class="Img-Add-Btn-Box h-full flex flex-1 items-center ml-8">
              <div>
                <div class="text-xs font-bold">
                  <span>Add Button</span>
                </div>
                <div class="h-full flex items-center ml-5">
                  <div class="text-sm c-8F8F8F">
                    <span class="line-h-0">상단 박스에 (파일) 추가</span>
                  </div>
                  <div>
                    <label class="Flie-Add-Btn bg-3AAFE2 flex justify-center items-center text-white text-xs ml-2 cursor-pointer border-radius-50" for="file">add</label>
                    <input type="file" id="file" name="photo">
                  </div>
                </div>
              </div>
            </div>
            <!--B3-->
            <div class="Img-Up-Btn-Box h-full flex flex-1 items-start ml-8">
              <div>
                <div class="text-xs font-bold">
                  <span>Up Button</span>
                </div>
                <div class="flex items-center ml-5">
                  <div class="text-sm c-8F8F8F ml-2">
                    <span>추가된 URL (파일) 업로드</span>
                  </div>
                  <div>
                    <input class="Flie-Up-Btn bg-3AAFE2 flex justify-center items-center self-center text-white text-xs ml-2 cursor-pointer border-radius-50" type="submit" value="up" name="submit" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--3-->
    <div class="Img-Pre-Vi-Box bg-white">
      <div class="Img-Pre-V hei-61 flex items-center c-047525B ml-10">[ Preview ]</div>
      <div class="Img-Setn">
        <div class="video-box Image h-full flex justify-center items-center">
          <video width="550px;" src="/smartmirror/video/{{selectVideo}}" autoplay controls loop muted></video>
        </div>
      </div>
      <div class="h-10"></div>
    </div>
  </div>
</div>