<!--테일윈드-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css">
<!--폰트어썸-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="css/wateruseage.css">
<!--요소 시작-->
<div class="Side-Box hei-51 bg-4F6884 flex items-center px-6">
  <div class="flex items-center text-white">
    <div class="img-box Wea-Ther-Icon mr-1">
      <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/top-cl.png" alt="">
    </div>
    <div class="img-box Map-Pin-White M-R-1">
      <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/Map-Pin-Whi.png" alt="">
    </div>
    <div class="text-sm text-white font-bold mr-1">
      <!--박찬종 -->
      <span>{{selectcityname}}</span>
      <span>{{selectvillagename}}</span>
    </div>
    <div class="flex text-sm text-white font-bold">
      <span class="h-full flex M-R-1" id="currentT1H">17</span>
      <span class="h-full flex M-R-1">C</span>
      <span class="h-full flex">
        <i class="fas fa-genderless"></i>
      </span>
    </div>
  </div>
  <div class="flex-1"></div>
  <div>
    <div class="flex items-center">
      <span class="text-base text-white mr-1">
        <i class="fas fa-users"></i>
      </span>
      <span class="text-sm text-white font-bold">13</span>
      <span class="text-sm text-white font-bold">명</span>
    </div>
  </div>
  <div class="flex-1"></div>
  <div class="flex">
    <div class="flex text-sm text-white font-bold">
      <div class="flex mr-1">
        <span id="textday"></span>
      </div>
    </div>
    <div class="text-sm text-white font-bold">
      <span id="texthours"></span>
    </div>
  </div>
</div>
<div class="Ele-All-Box w-full">
  <div class="Data-Text-Box flex" style="margin-bottom: 20px;">
    <!--1-->
    <div class="Data-Text-Item Data-Text-Item-1 flex-1">
      <div class="flex justify-center items-center text-xs font-bold c-47525B">
        <span>{{weekData.getDate.[1]}}</span>
        <span>일</span>
        <span>총 사용량</span>
      </div>
      <div></div>
      <div class="flex justify-center items-center">
        <div>
          <div class="flex justify-center text-6xl c-3AAFE2">
            <span>{{weekData.Valueobject.[0].[1]}}</span>
            <span>L</span>
          </div>
          <div class="flex justify-center items-center text-sm font-bold c-A8A8A8">
            <span>
              Yesterday Data
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-4"></div>
    <!--2-->
    <div class="Data-Text-Item Data-Text-Item-1 flex-1">
      <div class="flex justify-center items-center text-xs font-bold c-47525B">
        <span>{{weekData.getDate.[0]}}</span>
        <span>일</span>
        <span>총 사용량</span>
      </div>
      <div></div>
      <div class="flex justify-center items-center">
        <div>
          <div class="flex justify-center text-6xl c-3AAFE2">
            <span id="weekendwater">{{weekData.Valueobject.[0].[0]}}</span>
            <span>L</span>
          </div>
          <div class="flex justify-center items-center text-sm font-bold c-A8A8A8">
            <span>
              Today Data
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-4"></div>
    <!--3-->
    <div class="Data-Text-Item Data-Text-Item-1 flex-1">
      <div class="flex justify-center items-center text-xs font-bold c-47525B">
        <span>
          전달 총 사용량
        </span>
      </div>
      <div></div>
      <div class="flex justify-center items-center">
        <div>
          <div class="flex justify-center text-6xl c-3AAFE2">
            <span>{{yearData.Valueobject.[0].[1]}}</span>
            <span>L</span>
          </div>
          <div class="flex justify-center items-center text-sm font-bold c-A8A8A8">
            <span>
              Last Month Data
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-4"></div>
    <!--4-->
    <div class="Data-Text-Item Data-Text-Item-1 flex-1">
      <div class="flex justify-center items-center text-xs font-bold c-47525B">
        <span>
          이번달 총 사용량
        </span>
      </div>
      <div></div>
      <div class="flex justify-center items-center">
        <div>
          <div class="flex justify-center text-6xl c-3AAFE2">
            <span id="monthuseage">{{yearData.Valueobject.[0].[0]}}</span>
            <span>L</span>
          </div>
          <div class="flex justify-center items-center text-sm font-bold c-A8A8A8">
            <span>
              This Month Data
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--그래프-->
  <!--박찬종 -->
  <div class="Graph-Bar-All-Box flex" style="margin-bottom: 20px;">
    <!--1-->
    <div class="Graph-Bar-Item-Box Graph-Bar-Box-Item-1 flex-1">
      <div class="Graph-Bar-Text-Box flex justify-center items-center">
        <div class="flex items-center">
          <span class="text-xs font-bold c-47525B ml-4 mr-1">이번주 총 사용량</span>
          <span class="text-lg font-bold c-3AAFE2" id="weekendTotalUseage">{{weekData.Valueobject.[0].[0]}}</span>
          <span class="text-lg font-bold c-3AAFE2">L</span>
        </div>
        <div class="flex-1"></div>
        <div class="text-sm c-A8A8A8 mr-4">
          <span>일주일 사용량 -</span>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <!--G1-->
        {{#each weekData.Valueobject.[0]}}
        <div class="Graph-Bar-Item Graph-Bar-Item-1 relative inline-block">
          <div class="St-Pop-Up Pop-Up-1 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span class="" id="TodayWaterUseage{{@index}}">
              {{this}}
            </span>
            <span class="">
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="ShowWeekPercent{{@index}}">
              {{lookup ../weekData.Valueobject.[1] @index}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{lookup ../weekData.Valueobject.[1] @index}}%;"
                id="GraphWeekPercent"></div>
            </div>
          </div>
          <div class="text-center text-xs c-A8A8A8">
            <span>{{yearData.getDate}}.{{lookup ../weekData.getDate @index}}일</span>
          </div>
        </div>
        {{#if @last}}
      </div>
    </div>
    {{/if}}
    <div class="w-4"></div>
    {{/each}}
    <!--G2-->
    <!--2-->
    <div class="Graph-Bar-Item-Box Graph-Bar-Item-Box-2 flex-1">
      <div class="Graph-Bar-Text-Box flex justify-center items-center">
        <div class="flex items-center">
          <span class="text-xs font-bold c-47525B ml-4 mr-1">올해 총 사용량</span>
          <span class="text-lg font-bold c-3AAFE2" id="yearTotalUseage">{{plustotalyearvalue}}</span>
          <span class="text-lg font-bold c-3AAFE2">L</span>
        </div>
        <div class="flex-1"></div>
        <div class="text-sm c-A8A8A8 mr-4">
          <span>연도별 사용량 -</span>
        </div>
      </div>
      <div class="flex justify-center items-center">
        {{#each yearData.Valueobject.[0]}}
        <!--G2-1-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-1 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-1 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span id="MonthWaterUseage{{@index}}">
              {{this}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="ShowYearPercent{{@index}}">
              {{lookup ../yearData.Valueobject.[1] @index}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{lookup ../yearData.Valueobject.[1] @index}}%;"
                id="GraphYearPercent{{@index}}"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{lookup ../yearData.getDate @index}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        {{/each}}
        <!--G2-2-->
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  let txtday = document.getElementById('textday');
  let txthours = document.getElementById('texthours');
  function clock() {
    let today = new Date();
    let month = today.getMonth() + 1;
    let date = today.getDate();
    let day = today.getDay();
    let charday = "";
    switch (day) {
      case 0: charday = "일요일";
        break;
      case 1: charday = "월요일";
        break;
      case 2: charday = "화요일";
        break;
      case 3: charday = "수요일";
        break;
      case 4: charday = "목요일";
        break;
      case 5: charday = "금요일";
        break;
      case 6: charday = "토요일";
        break;
    }
    let hours = today.getHours();
    let minutes = today.getMinutes();
    let daytext = month + "월 " + date + "일 " + charday;

    txtday.innerText = daytext;
  }

  function clockminute() {
    let today = new Date();
    let hours = today.getHours();
    let minutes = today.getMinutes();
    let daytext = hours + " : " + minutes;

    txthours.innerText = daytext;
  }
  setInterval(clock, 1000);
  setInterval(clockminute, 1000);

  var socket = io();
  socket.on('currentT1H', (msg) => {
    var txt = document.getElementById('currentT1H');
    txt.innerText = msg;
  });


  socket.on('weekendwater', (msg) => {
    var todaywateruseage = document.getElementById('TodayWaterUseage0');
    todaywateruseage.innerText = msg;
  });

  socket.on('weekendTotalUseage', (msg) => {
    var weekendTotalUseage = document.getElementById('weekendTotalUseage');
    var txt = document.getElementById('weekendwater');
    txt.innerText = msg;
    weekendTotalUseage.innerText = msg;
  });

  socket.on('yearTotalUseage', (msg) => {
    var yearTotalUseage = document.getElementById('yearTotalUseage');

    yearTotalUseage.innerText = msg;
  });
  socket.on('yearWater', (msg) => {
    let today = new Date();
    let month = today.getMonth();
    var monthwateruseage = document.getElementById('MonthWaterUseage0');
    var monthuseage = document.getElementById('monthuseage');
    monthwateruseage.innerText = msg;
    monthuseage.innerText = msg;
  });
  socket.on('waterpercent', (msg) => {
    let WGArray = new Array()
    let ShowPercent = new Array()
    for (let i = 0; i < 7; i++) {
      WGArray[i] = document.getElementById(`ShowWeekGraph${i}`)
      ShowPercent[i] = document.getElementById(`ShowWeekPercent${i}`)
      WGArray[i].style.height = msg[i] + "%"
      ShowPercent[i].innerText = msg[i]
    }
  });

  socket.on('MonthTotalUseage', (msg) => {
    let YGArray = new Array()
    let ShowPercent = new Array()
    for (let i = 0; i < 12; i++) {
      YGArray[i] = document.getElementById(`GraphYeekGraph${i}`)
      ShowPercent[i] = document.getElementById(`ShowYearPercent${i}`)
      YGArray[i].style.height = msg[i] + "%"
      ShowPercent[i].innerText = msg[i]
    }
  });
</script>