<!--테일윈드-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css">
<!--폰트어썸-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="css/wateruseage.css">
<!--요소 시작-->
<div class="Side-Box hei-51 bg-4F6884 flex items-center px-6">
  <div class="flex items-center text-white">
    <div class="img-box Wea-Ther-Icon mr-1">
      <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/top-cl.png" alt="">
    </div>
    <div class="img-box Map-Pin-White M-R-1">
      <img src="https://cdn.jsdelivr.net/gh/kimhyeji324/ICT_Resource@master/docs/Map-Pin-Whi.png" alt="">
    </div>
    <div class="text-sm text-white font-bold mr-1">
      <!--박찬종 -->
      <span>{{selectcityname}}</span>
      <span>{{selectvillagename}}</span>
    </div>
    <div class="flex text-sm text-white font-bold">
      <span class="h-full flex M-R-1" id="currentT1H">17</span>
      <span class="h-full flex M-R-1">C</span>
      <span class="h-full flex">
        <i class="fas fa-genderless"></i>
      </span>
    </div>
  </div>
  <div class="flex-1"></div>
  <div>
    <div class="flex items-center">
      <span class="text-base text-white mr-1">
        <i class="fas fa-users"></i>
      </span>
      <span class="text-sm text-white font-bold">13</span>
      <span class="text-sm text-white font-bold">명</span>
    </div>
  </div>
  <div class="flex-1"></div>
  <div class="flex">
    <div class="flex text-sm text-white font-bold">
      <div class="flex mr-1">
        <span id="textday"></span>
      </div>
    </div>
    <div class="text-sm text-white font-bold">
      <span id="texthours"></span>
    </div>
  </div>
</div>
<div class="Ele-All-Box w-full">
  <div class="Data-Text-Box flex" style="margin-bottom: 20px;">
    <!--1-->
    <div class="Data-Text-Item Data-Text-Item-1 flex-1">
      <div class="flex justify-center items-center text-xs font-bold c-47525B">
        <span>
          11
        </span>
        <span>월</span>
        <span>11</span>
        <span>일</span>
        <span>[</span>
        <span>목</span>
        <span class="mr-1">]</span>
        <span>총 사용량</span>
      </div>
      <div></div>
      <div class="flex justify-center items-center">
        <div>
          <div class="flex justify-center text-6xl c-3AAFE2">
            <span>{{data.1.Useage}}</span>
            <span>L</span>
          </div>
          <div class="flex justify-center items-center text-sm font-bold c-A8A8A8">
            <span>
              Yesterday Data
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-4"></div>
    <!--2-->
    <div class="Data-Text-Item Data-Text-Item-1 flex-1">
      <div class="flex justify-center items-center text-xs font-bold c-47525B">
        <span>
          11
        </span>
        <span>월</span>
        <span>12</span>
        <span>일</span>
        <span>[</span>
        <span>금</span>
        <span class="mr-1">]</span>
        <span>총 사용량</span>
      </div>
      <div></div>
      <div class="flex justify-center items-center">
        <div>
          <div class="flex justify-center text-6xl c-3AAFE2">
            <!--박찬종 -->
            <span id="weekendwater">{{data.0.Useage}}</span>
            <span>L</span>
          </div>
          <div class="flex justify-center items-center text-sm font-bold c-A8A8A8">
            <span>
              Today Data
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-4"></div>
    <!--3-->
    <div class="Data-Text-Item Data-Text-Item-1 flex-1">
      <div class="flex justify-center items-center text-xs font-bold c-47525B">
        <span>
          전달 총 사용량
        </span>
      </div>
      <div></div>
      <div class="flex justify-center items-center">
        <div>
          <div class="flex justify-center text-6xl c-3AAFE2">
            <span>290</span>
            <span>L</span>
          </div>
          <div class="flex justify-center items-center text-sm font-bold c-A8A8A8">
            <span>
              Last Month Data
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-4"></div>
    <!--4-->
    <div class="Data-Text-Item Data-Text-Item-1 flex-1">
      <div class="flex justify-center items-center text-xs font-bold c-47525B">
        <span>
          이번달 총 사용량
        </span>
      </div>
      <div></div>
      <div class="flex justify-center items-center">
        <div>
          <div class="flex justify-center text-6xl c-3AAFE2">
            <span id="monthwateruseage">{{yeardata.0.Data}}</span>
            <span>L</span>
          </div>
          <div class="flex justify-center items-center text-sm font-bold c-A8A8A8">
            <span>
              This Month Data
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--그래프-->
  <!--박찬종 -->
  <div class="Graph-Bar-All-Box flex" style="margin-bottom: 20px;">
    <!--1-->
    <div class="Graph-Bar-Item-Box Graph-Bar-Box-Item-1 flex-1">
      <div class="Graph-Bar-Text-Box flex justify-center items-center">
        <div class="flex items-center">
          <span class="text-xs font-bold c-47525B ml-4 mr-1">이번주 총 사용량</span>
          <span class="text-lg font-bold c-3AAFE2">30</span>
          <span class="text-lg font-bold c-3AAFE2">L</span>
        </div>
        <div class="flex-1"></div>
        <div class="text-sm c-A8A8A8 mr-4">
          <span>일주일 사용량 -</span>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <!--G1-->
        <div class="Graph-Bar-Item Graph-Bar-Item-1 relative inline-block">
          <div class="St-Pop-Up Pop-Up-1 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span class="" id="todaywateruseage">
              {{data.0.Useage}}
            </span>
            <span class="">
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="showpercent1">
              {{data.0.Persent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{data.0.Persent}}%;" id="todaywaterpercent"></div>
            </div>
          </div>
          <div class="text-center text-xs c-A8A8A8">
            <span>{{data.0.Month}}.{{data.0.Day}}</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-->
        <div class="Graph-Bar-Item Graph-Bar-Item-1 relative inline-block">
          <div class="St-Pop-Up Pop-Up-1 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span class="">
              {{data.1.Useage}}
            </span>
            <span class="">
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="showpercent2">
              {{data.1.Persent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{data.1.Persent}}%;" id="graphpercent2"></div>
            </div>
          </div>
          <div class="text-center text-xs c-A8A8A8">
            <span>{{data.1.Month}}.{{data.1.Day}}</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G3-->
        <div class="Graph-Bar-Item Graph-Bar-Item-1 relative inline-block">
          <div class="St-Pop-Up Pop-Up-1 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span class="">
              {{data.2.Useage}}
            </span>
            <span class="">
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="showpercent3">
              {{data.2.Persent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{data.2.Persent}}%;" id="graphpercent3"></div>
            </div>
          </div>
          <div class="text-center text-xs c-A8A8A8">
            <span>{{data.2.Month}}.{{data.2.Day}}</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G4-->
        <div class="Graph-Bar-Item Graph-Bar-Item-1 relative inline-block">
          <div class="St-Pop-Up Pop-Up-1 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span class="">
              {{data.3.Useage}}
            </span>
            <span class="">
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="showpercent4">
              {{data.3.Persent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{data.3.Persent}}%;" id="graphpercent4"></div>
            </div>
          </div>
          <div class="text-center text-xs c-A8A8A8">
            <span>{{data.3.Month}}.{{data.3.Day}}</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G5-->
        <div class="Graph-Bar-Item Graph-Bar-Item-1 relative inline-block">
          <div class="St-Pop-Up Pop-Up-1 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span class="">
              {{data.4.Useage}}
            </span>
            <span class="">
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="showpercent5">
              {{data.4.Persent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{data.4.Persent}}%;" id="graphpercent5"></div>
            </div>
          </div>
          <div class="text-center text-xs c-A8A8A8">
            <span>{{data.4.Month}}.{{data.4.Day}}</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G6-->
        <div class="Graph-Bar-Item Graph-Bar-Item-1 relative inline-block">
          <div class="St-Pop-Up Pop-Up-1 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span class="">
              {{data.5.Useage}}
            </span>
            <span class="">
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="showpercent6">
              {{data.5.Persent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{data.5.Persent}}%;" id="graphpercent6"></div>
            </div>
          </div>
          <div class="text-center text-xs c-A8A8A8">
            <span>{{data.5.Month}}.{{data.5.Day}}</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G7-->
        <div class="Graph-Bar-Item Graph-Bar-Item-7 relative inline-block">
          <div class="St-Pop-Up Pop-Up-7 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span class="">
              {{data.6.Useage}}
            </span>
            <span class="">
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="showpercent">
              {{data.6.Persent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{data.6.Persent}}%;" id="graphpercent7"></div>
            </div>
          </div>
          <div class="text-center text-xs c-A8A8A8">
            <span>{{data.6.Month}}.{{data.6.Day}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-4"></div>
    <!--2-->
    <div class="Graph-Bar-Item-Box Graph-Bar-Item-Box-2 flex-1">
      <div class="Graph-Bar-Text-Box flex justify-center items-center">
        <div class="flex items-center">
          <span class="text-xs font-bold c-47525B ml-4 mr-1">올해 총 사용량</span>
          <span class="text-lg font-bold c-3AAFE2">30</span>
          <span class="text-lg font-bold c-3AAFE2">L</span>
        </div>
        <div class="flex-1"></div>
        <div class="text-sm c-A8A8A8 mr-4">
          <span>연도별 사용량 -</span>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <!--G2-1-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-1 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-1 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.0.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent1">
              {{yeardata.0.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: 16%;" id="showyearpercent1"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.0.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-2-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-2 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-2 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.1.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent2">
              {{yeardata.1.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.1.Percent}}%;" id="showyearpercent2"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.1.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-3-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-3 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-3 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.2.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent3">
              {{yeardata.2.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.2.Percent}}%;" id="showyearpercent3"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.2.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-4-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-4 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-4 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.3.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent4">
              {{yeardata.3.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.3.Percent}}%;" id="showyearpercent4"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.3.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-5-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-5 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-5 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.4.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent5">
              {{yeardata.4.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.4.Percent}}%;" id="showyearpercent5"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.4.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-6-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-6 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-6 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.5.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent6">
              {{yeardata.5.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.5.Percent}}%;" id="showyearpercent6"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.5.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-7-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-7 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-7 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.6.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent7">
              {{yeardata.6.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.6.Percent}}%;" id="showyearpercent7"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.6.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-8-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-8 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-8 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.7.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent8">
              {{yeardata.7.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.7.Percent}}%;" id="showyearpercent8"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.7.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-9-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-9 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-9 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.8.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent9">
              {{yeardata.8.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.8.Percent}}%;" id="showyearpercent9"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.8.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-10-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-10 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-10 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.9.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent10">
              {{yeardata.9.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.9.Percent}}%;" id="showyearpercent10"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.9.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-11-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-11 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-11 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.10.Data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent11">
              {{yeardata.10.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.10.Percent}}%;" id="showyearpercent11"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.10.Month}}</span>
            <span>월</span>
          </div>
        </div>
        <div class="w-4"></div>
        <!--G2-12-->
        <div class="Graph-Bar-Item Graph-Bar-Item-2-12 relative inline-block">
          <div class="Nd-Pop-Up Pop-Up-2-12 text-xs">
            <span class="c-3AAFE2 mr-1">
              <i class="fas fa-hand-holding-water"></i>
            </span>
            <span>
              {{yeardata.11.data}}
            </span>
            <span>
              L
            </span>
          </div>
          <div class="flex justify-center">
            <span class="Gra-Per-Text text-xs c-A8A8A8" id="yearpercent12">
              {{yeardata.11.Percent}}
            </span>
            <span class="Gra-Per-Text text-xs c-A8A8A8">
              %
            </span>
          </div>
          <div class="Gra-Bar-Ele-Box flex justify-center items-end mb-1">
            <div class="Gra-Back-Ele-Bar h-full flex items-end border-radius-2">
              <div class="w-full border-radius-2" style="height: {{yeardata.11.Percent}}%;" id="showyearpercent12"></div>
            </div>
          </div>
          <div class="flex justify-center items-center text-xs c-A8A8A8">
            <span>{{yeardata.11.Month}}</span>
            <span>월</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p>data</p>
<p id="yeararray">daw</p>

<p>Percent</p>
<p id="yearpercent">adw</p>

<script src="/socket.io/socket.io.js"></script>
<script>
  let txtday = document.getElementById('textday');
  let txthours = document.getElementById('texthours');
  function clock() {
    let today = new Date();
    let month = today.getMonth() + 1;
    let date = today.getDate();
    let day = today.getDay();
    let charday = "";
    switch (day) {
      case 0: charday = "일요일";
        break;
      case 1: charday = "월요일";
        break;
      case 2: charday = "화요일";
        break;
      case 3: charday = "수요일";
        break;
      case 4: charday = "목요일";
        break;
      case 5: charday = "금요일";
        break;
      case 6: charday = "토요일";
        break;
    }
    let hours = today.getHours();
    let minutes = today.getMinutes();
    let daytext = month + "월 " + date + "일 " + charday;

    txtday.innerText = daytext;
  }
  
  function clockminute() {
    let today = new Date();
    let hours = today.getHours();
    let minutes = today.getMinutes();
    let daytext = hours + " : " + minutes;

    txthours.innerText = daytext;
  }
  setInterval(clock, 1000);
  setInterval(clockminute, 1000);

  var socket = io();
  socket.on('currentT1H', (msg) => {
    var txt = document.getElementById('currentT1H');
    txt.innerText = msg;
  });

  socket.on('weekendwater', (msg) => {
    var txt = document.getElementById('weekendwater');
    var todaywateruseage = document.getElementById('todaywateruseage');

    todaywateruseage.innerText = msg;
    txt.innerText = msg;
  });

  socket.on('waterpercent', (msg) => {
    var txt1 = document.getElementById('waterpercent');
    var todaywaterpercent = document.getElementById('todaywaterpercent');
    var txt2 = document.getElementById('waterpercent1');
    var txt3 = document.getElementById('Arraypercent');
    var graphpercent2 = document.getElementById("graphpercent2");
    var graphpercent3 = document.getElementById("graphpercent3");
    var graphpercent4 = document.getElementById("graphpercent4");
    var graphpercent5 = document.getElementById("graphpercent5");
    var graphpercent6 = document.getElementById("graphpercent6");
    var graphpercent7 = document.getElementById("graphpercent7");

    var showpercent1 = document.getElementById("showpercent1");
    var showpercent2 = document.getElementById("showpercent2");
    var showpercent3 = document.getElementById("showpercent3");
    var showpercent4 = document.getElementById("showpercent4");
    var showpercent5 = document.getElementById("showpercent5");
    var showpercent6 = document.getElementById("showpercent6");
    var showpercent7 = document.getElementById("showpercent7");

    todaywaterpercent.style.height = msg[0] + "%";
    graphpercent2.style.height = msg[1] + "%";
    graphpercent3.style.height = msg[2] + "%";
    graphpercent4.style.height = msg[3] + "%";
    graphpercent5.style.height = msg[4] + "%";
    graphpercent6.style.height = msg[5] + "%";
    graphpercent7.style.height = msg[6] + "%";

    showpercent1.innerText = msg[0];

    showpercent2.innerText = msg[1];
    showpercent3.innerText = msg[2];
    showpercent4.innerText = msg[3];
    showpercent5.innerText = msg[4];
    showpercent6.innerText = msg[5];
    showpercent7.innerText = msg[6];

    txt1.innerText = msg[0];
    txt2.innerText = msg[1];
    txt3.innerText = msg;
  });

  socket.on('yearWater',(msg)=>{
    var monthwateruseage = document.getElementById('monthwateruseage');
    var txt2 = document.getElementById("yeararray");

    txt2.innerText = msg;

    monthwateruseage.innerText = msg;
  });
    socket.on('wateryearpercent',(msg)=>{
    var monthwateruseage = document.getElementById('yearpercent');

      var yearpercent1 = document.getElementById('yearpercent1');
      var yearpercent2 = document.getElementById('yearpercent2');
      var yearpercent3 = document.getElementById('yearpercent3');
      var yearpercent4 = document.getElementById('yearpercent4');
      var yearpercent5 = document.getElementById('yearpercent5');
      var yearpercent6 = document.getElementById('yearpercent6');
      var yearpercent7 = document.getElementById('yearpercent7');
      var yearpercent8 = document.getElementById('yearpercent8');
      var yearpercent9 = document.getElementById('yearpercent9');
      var yearpercent10 = document.getElementById('yearpercent10');
      var yearpercent11 = document.getElementById('yearpercent11');
      var yearpercent12 = document.getElementById('yearpercent12');

      yearpercent1.innerText = msg[0];
      yearpercent2.innerText = msg[1];
      yearpercent3.innerText = msg[2];
      yearpercent4.innerText = msg[3];
      yearpercent5.innerText = msg[4];
      yearpercent6.innerText = msg[5];
      yearpercent7.innerText = msg[6];
      yearpercent8.innerText = msg[7];
      yearpercent9.innerText = msg[8];
      yearpercent10.innerText = msg[9];
      yearpercent11.innerText = msg[10];
      yearpercent12.innerText = msg[11];

      var showyearpercent1 = document.getElementById('showyearpercent1');
      var showyearpercent2 = document.getElementById('showyearpercent2');
      var showyearpercent3 = document.getElementById('showyearpercent3');
      var showyearpercent4 = document.getElementById('showyearpercent4');
      var showyearpercent5 = document.getElementById('showyearpercent5');
      var showyearpercent6 = document.getElementById('showyearpercent6');
      var showyearpercent7 = document.getElementById('showyearpercent7');
      var showyearpercent8 = document.getElementById('showyearpercent8');
      var showyearpercent9 = document.getElementById('showyearpercent9');
      var showyearpercent10 = document.getElementById('showyearpercent10');
      var showyearpercent11 = document.getElementById('showyearpercent11');
      var showyearpercent12 = document.getElementById('showyearpercent12');

      showyearpercent1.style.height = msg[0] + "%";
      showyearpercent2.style.height = msg[1] + "%";
      showyearpercent3.style.height = msg[2] + "%";
      showyearpercent4.style.height = msg[3] + "%";
      showyearpercent5.style.height = msg[4] + "%";
      showyearpercent6.style.height = msg[5] + "%";
      showyearpercent7.style.height = msg[6] + "%";
      showyearpercent8.style.height = msg[7] + "%";
      showyearpercent9.style.height = msg[8] + "%";
      showyearpercent10.style.height = msg[9] + "%";
      showyearpercent11.style.height = msg[10] + "%";
      showyearpercent12.style.height = msg[11] + "%";

      

    

    monthwateruseage.innerText = msg;
  });
</script>